/* Add CSS Styling */
.odd{
    background-color: #ff787a;
}

#num2 { 
    color: rgb(0, 38, 255);
    font-size: 36px;
}
#num4 {
    background-color: hsl(94, 100%, 50%);
    font-size: 24px;
    font-weight: bold;
}
.odd.cooler {
    font-size: 24px;
}