/* Add CSS Styling */
.one {
    background-color: rgb(0, 0, 0);
    color: white;
}
.two {
    background-color: hsl(60, 100%, 50%)
}
.one,
 .two {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', serif;
}